.makesticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}
.img_class {
  width: auto;
  max-width: 100%;
  height: auto;
}
.videoclass {
  width: 100%;
}
@media screen and (max-width: 800px) {
  .myclass {
    font-size: x-small;
    width: 100%;
  }
  .videoclass {
    max-width: 100%;
  }
}
